

.cart-buttons{
    border: 0;
    background-color: rgb(17, 0, 255);
    color: whitesmoke;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
    margin-bottom: 50px;
}

.cart-buttons:hover{
    opacity: 0.8;
    
}

.cart-buttons:active{
    background-color: black;
    box-shadow: 4px 4px 10px black;
}

