.subscribe-button{
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 30px;
}



.subscribe-button:hover{
    opacity: 0.8;
}


.is-subscribed{
    background-color: rgb(240,240,240);
    color: black;
}

.productCost{
    padding: 10px;
    font-size: 15px;
}
.calculate-button{
    border: none;
    background-color: orange;
    padding: 13px 10px;
    cursor: pointer;
}
.calculate-button:hover{
    opacity: 0.7;
}